<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new project</title>
</head>
<body>
<h1>Add new project</h1>
<div>
    <form th:action="@{/projects/add}" th:method="post" th:object="${createProjectCommand}">
        <fieldset>
            <div>
                <label>Title:
                    <input type="text" th:field="*{name}" name="name" required/>
                </label>
                <div th:if="${#fields.hasErrors('name')}">
                    <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
                </div>
            </div>
            <div>
                <label>Url Address:
                    <input type="url" th:field="*{url}" name="url"/>
                </label>
                <div th:if="${#fields.hasErrors('url')}">
                    <span th:each="err : ${#fields.errors('url')}" th:text="${err}"></span>
                </div>
            </div>
            <div>
                <label>Description:
                    <textarea th:field="*{description}"></textarea>
                </label>
                <div th:if="${#fields.hasErrors('description')}">
                    <span th:each="err : ${#fields.errors('description')}" th:text="${err}"></span>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <button type="submit">Add project</button>
        </fieldset>
    </form>
</div>
</body>
</html>