<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
</head>
<body>
<section>
    <h1>Your profile</h1>
    <h1><span th:text="${userSummary.username}"></span></h1>
</section>
<section>
    <form action="/edit-profile" method="post">
        <div>
            <label>Name:
                <input type="text" name="firstName"/>
            </label>
        </div>
        <div>
            <label>Last name:
                <input type="text" name="lastName"/>
            </label>
        </div>
        <div>
            <label>Birth date:
                <input type="date" name="birthDate"/>
            </label>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>

    </form>
</section>

</body>
</html>